html {
    font-size: 16px;
}

@import url(https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap);

Body {
Box-sizing:border-box;
background-color:hsl(225, 100%, 94%);
Background-image:url("./Images/pattern-background-desktop.svg");
Background-repeat:no-repeat;
Background-Position:center;
background-size:cover;
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    height: 650px;
    margin: 70px auto 25px auto;
    background-color: #fff;
    border-radius: 15px;
}

h1, span {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

#order-summary p {
    line-height: 1.5rem;
    padding: 0 85px;
    color: hsl(224, 23%, 55%);
}

#box-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 350px;
    /* height:120px; */
    margin: 0 auto;
    
}

/* #box-plan img{
    margin: 15px 0 auto 5px;
    float: right;
} */

#annual-plan{
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    margin-right: 5px;
}

#annual-plan img{
    margin-left: 20px;
    margin-right: 15px;
}

#box-plan a{
    margin-right: 20px;
    font-weight: 700;
}

#year{
    letter-spacing: 0.5px;
    color:  hsl(224, 23%, 55%);
    font-weight: 500;
}

#btn {
    color: hsl(225, 100%, 94%);
    display: grid;
    align-self: center;
    margin-top: 9%;
    margin-left: 12%;
    padding: 10px 100px 10px 100px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

a {
    display: grid;
    padding: 20px;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    cursor: pointer;
}

#btn:hover {
    color: hsl(223, 47%, 23%);
}

a:hover {
    color:hsl(223, 47%, 23%) ;
}
