* {
    /* border: 1px red solid; */
}
Body{
Box-sizing:border-box;
Background-volle:hsl(225, 100%, 94%);
Background-image:url("./Images/pattern-background-desktop.svg");
Background-repeat:no-repeat;
Background-Position:center;
background-size:cover;
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    height: 550px;
    margin: 70px auto 25px auto;
    background-color: #fff;
    border-radius: 15px;
}

h1, span {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

#order-summary p {
    line-height: 1.5rem;
    padding: 0 85px;
    color: hsl(224, 23%, 55%);
}

#box-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 350px;
    /* height:120px; */
    margin: 0 auto;
    
}
/* #box-plan img{
    margin: 15px 0 auto 5px;
    float: right;
} */
#annual-plan{
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    margin-right: 5px;
}
#annual-plan img{
    margin-left: 20px;
    margin-right: 15px;
}
#box-plan a{
    margin-right: 20px;
}
#year{
    letter-spacing: 0.5px;
    color:  hsl(224, 23%, 55%);
    font-weight: 500;
}
#box-plan a{
    font-weight: 700;
}