* {
    /* border: 1px red solid; */
}
Body{
Box-sizing:border-box;
Background-volle:hsl(225, 100%, 94%);
Background-image:url("./Images/pattern-background-desktop.svg");
Background-repeat:no-repeat;
Background-Position:center;
}

.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, span {
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

#order-summary p {
    line-height: 1.5rem;
    padding: 0 85px;
    color: hsl(224, 23%, 55%);
}

#box-plan {
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
